fastapi==0.121.1
uvicorn[standard]==0.22.0
h11==0.16.0
zipp==3.19.1
langchain==1.0.5
langchain-huggingface==1.0.1
langchain-openai==0.3.34
pydantic==2.11.10
pydantic-settings==2.11.0
pydantic_core==2.33.2